.title {
    h1{
      color:#6b6b6b;
      font-size: 3.7em;
      span{
        color: #ff5c36;
      }
    }
    h2{
      color:#6b6b6b;
      span{
        color: #ff5c36;
      }
    }
    h3{
      color:#6b6b6b;
      font-size: 2.2em;
      margin: 0;
      span{
        display: block;
        border-bottom: 3px solid #ff5c36;
        height: 9px;
        width: 58px;
      }
    }
    &_align_center{
      text-align: center;
    }
    &_text-size_h1{
      h2{
        color:#6b6b6b;
        font-size: 3.7em;
        margin-bottom: 10px;
        span{
          color: #ff5c36;
        }
      }
    }
    &_color_white{
      color: #ffffff;
    }
    &_size_ml{
      font-size: 2.2em;
    }
    &_size_x{
      font-size: 21px;
    }
    &_padding_top-57{
      padding-top: 57px;
    }
}
