.footer {
  background: #f7f7f7;
  &__header{
    padding: 44px;
  }
  &__content {
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    &_padding_horizontal {
      padding-left: 50px;
      padding-right: 50px;
      @media all and (max-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &_padding_bottom {
      padding-bottom: 50px;
      @media all and (max-width: 600px) {
        padding: 20px;
      }
    }
  }

  &__copy {
    color: #656565;
    float: left;
  }
}
