.text {
  color: #6b6b6b;
    &_cont_middle{
      width: 60%;
      margin: -15px auto 0 auto;
    }
    &_align_center{
      text-align: center;
    }
    &_size_xs{
      font-size: 0.8em;
    }
    &_size_s{
      font-size: 1.1em;
    }
    &_size_m{
      font-size: 1.2em;
    }
    &_size_ml{
      font-size: 1.3em;
    }
    &_color_white{
      color:white;
    }
    &_color_orange{
      color: orange;
    }
    &_padding_right{
        padding-right: 15px;
    }
    &_padding_left{
        padding-left: 8px;
    }
    &_padding_card{
      padding: 14px 33px;
    }
    &_padding_all-10{
      padding: 10px;
    }
}
