.button {
  cursor: pointer;
  outline: none;
  &_position_middle{
    display: block;
    margin: 0 auto;
  }
  &_theme_snow{
    background: white;
    border-radius: 40px;
    padding: 15px 55px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 7px 15px #eaeaea;
  }
  &_theme_sunny{
    background: #ff5c36;
    color: #ffffff;
    border-radius: 40px;
    padding: 16px 44px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 7px 15px #eaeaea;
    margin: 17px auto;
    font-size: 17px;
  }
  &_hovered{
    box-shadow: 0px 3px 15px #eaeaea;
  }
  &_pressed{
    box-shadow: 0px 0px 10px #eaeaea;
  }
  &_margin_top-left{
    margin: 37px 0 0 10px;
  }
  &_size_xl{
    padding: 20px 85px;
  }
}
