.page {
  background: red;
  &_theme_islands{
    font: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #6b6b6b;
    background: #f5f5f5;
  }
  &_theme_light{
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    min-height: 100%;
    margin: 0;
    color: #6b6b6b;
    background: #f5f5f5;
    .progressbar{
      width: 145px;
      margin: 4px auto 10px auto;
      padding: 0px 0 0 0px;
      background: gray;
      &__bar{
        height: 4px;
        background: #ff6e47;
      }
    }
  }
}
