.icon {
  &_position_right{
    float: right;
    display: block;
  }
  &_transform_rotate{
    transform: rotate(-20deg);
  }
  &_block_round{
    background: #d3d3d3;
  }
  &_color_green{
    color:#fff;
  }
  &_color_gray{
    color: #b7afad;
  }
  &_color_back{
    color:#000;
  }
  &_padding_left{
    padding-left: 5px;
  }
  &_padding_right{
    padding-right: 5px;
  }
  &_size_menu{
    width: 33px;
    height: 20px;
  }
  &_size_xs{
    width: 20px;
    height: 20px;
  }
  &_size_xxs{
    width: 20px;
    height: 20px;
  }
  &_size_m{
    width: 45px;
    height: 45px;
  }
  &_float_left{
    float: left;
  }
}
