.textarea {
  &_theme_light{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    border: 0;
    outline: none;
    background: none;
  }
  &__box{
    display: block;
    padding: 20px 0;
  }
  &__control{
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    width: 100%;
  }
  &_width_100{
    width: 100%;
  }
  &_size_m{
    height: 87px;
  }
  &_padding_top{
    padding-top: 21px;
  }
}
