.featured-works {
  padding: 122px 0 110px;
  &__items{
    width: 1200px;
    padding: 101px 0 0 0;
    margin: 0 auto;
    text-align: center;
  }
  &__item{
    display: inline-block;
    position: relative;
    width: 358px;
    height: 358px;
    margin: 15px 15px 6px 15px;
    &_background_orange{
      background: #ff5c36;
    }
  }

}
