.image {
  &_padding_left {
    padding-left: 50px;
  }
  &_icon_position-absolute{
    position: absolute;
    /* display: none; */
  }
  &_icon-position_1{
    top: 15px;
    left: 3px;
  }
  &_icon-position_2{
    top: 8px;
    left: 1px;
  }
  &_icon-position_3{
    top: 8px;
    left: 11px;
  }
  &_icon-position_4{
    top: 6px;
    left: 3px;
  }
}
