.input {
    &_theme_light{
      font-size: 14px;
      font-family: 'Open Sans', Arial, sans-serif;
      border: 0;
      outline: none;
      background: none;
      input{
        font-size: 17px;;
        font-family: 'Open Sans', Arial, sans-serif;
      }
    }
    &__box{
      display: block;
      padding: 28px 0 5px 0;
    }
    &__control{
      outline: none;
      border: none;
      border-bottom: 1px solid #c7c7c7;
      width: 100%;
    }
    &_width_100{
      width: 100%;
    }
}
