.team-skills {
    width: 1200px;
    margin: 0 auto;
  &__wrapp{
    padding: 81px 0 160px 0px;
  }
  &__items{
    padding-top: 126px;
    text-align: center;
  }
  &__item-wrapp{
    padding: 177px 0 0 0;
  }
  &__item{
    position: relative;
    width: 362px;
    height: 449px;
    border: 1px solid #d9d9d9;
    margin: 0 13px;
    &_background_orange{
      background: #ff5c36;
    }
    &_display_line{
      display: inline-block;
      vertical-align: top;
    }
  }
  &__info-blok{
    background: #fff;
    width: 262px;
    position: absolute;
    top: 377px;
    left: 48px;
    border-radius: 2px;
    padding: 10px 0 0 0;
  }
  &__icons{
    padding-top: 13px;
    .icon{
      padding: 0 5px;
    }
  }
}
