.link {
  text-decoration: underline;
  &_padding_horizontal{
    padding: 4px;
  }
  &_block_round{
    border-radius: 50%;
    background: #d3d3d3;
    &:hover{
      background: #ff6e47;
    }
  }
  &_padding_size-s{
    padding: 17px;
  }
  &_margin_size-s{
    margin: 10px;
  }
  &_color_white{
    color: #fff;
  }
  &_hovered{
    color: #8dc641;
    text-decoration: none;
  }
  &_size_xl{
    font-size: 18px;
  }
  &_size_xxl{
    font-size: 20px;
  }
}
