.ul {
    padding:0 0 0 29px;
    margin: 0px;
    list-style: none;
    &__li {
      position: relative;
      &_display_blok{
        display: block;
      }
      &_border_radius-xs{
          border: 1px solid #f7f7f7;
      }
      &_cursor_pointer{
        cursor: pointer;
      }
      &_shadow{
        box-shadow: 0px 7px 15px #eaeaea;
      }
      &_background_color-gray{
        background: #fbfbfb;
        }
      &_hovered_background-color-white{
        &:hover{
          background: #fff
        }
      }
      &_margin_bottom{
        margin-bottom: 7px;
        margin-top: 9px;
      }
      &_blok-size_xxs{}
      &_blok-size_xs{}
      &_blok-size_s{
        width: 104px;
        height: 92px;
      }
      &_blok-size_m{}
      &_blok-size_l{}
    }
  }
