.working-process {
    background: #ffffff;
    &__wrapp{
      width: 1200px;
      margin: 0 auto;
      padding: 90px 0 110px 0;
    }
    &__wrapp-button{
      position: absolute;
      width: 100%;
      bottom: -25px;
      left: 0px;
    }
    &__cards{
      text-align: center;
      padding: 90px 0 0 0;
    }
    &__card{
      display: inline-block;
      position: relative;
      width: 261px;
      height: 195px;
      margin: 16px;
      padding: 70px 0 0 0;
      &_color_blue {
        background: #4eb2f7;
      }
      &_color_folet {
        background: #c049f8;
      }
      &_color_siren {
        background: #817eff;
      }
      &_color_pink {
        background: #f74770;
      }
    }

}
